# node modules yarn and npm files
/node_modules
package-lock.json
yarn-error.log
yarn.lock
npm-debug.log


# public folder symbolic links
/public/hot
/public/storage
/public/adminlte
/public/fontawesome
/public/bootstrap
/public/jquery
/public/popper.js

# storage .key file
/storage/*.key


# composer vendor folder
/vendor


# env file
.env
.env.backup


# cache files
.phpunit.result.cache


# Homestead files
Homestead.json
Homestead.yaml

# auto lock files
*~*
